<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Passwortschutz</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closePassword()">Abbruch</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doPassword()">
      <div class="list">
        <label class="item item-text-wrap" ng-hide="settings.passwordset">
          <p>Durch Eingabe des Gerätepassworts kann die Funktion "Löschen von Studien" gesperrt werden. Nach Ende der Studienlaufzeit werden abgeschlossene Studien automatisch entfernt.</p>
        </label>
        <label class="item item-text-wrap" ng-show="settings.passwordset">
          <p>Durch Eingabe des Gerätepassworts kann die Funktion "Löschen von Studien" entsperrt werden. Nach Ende der Studienlaufzeit werden abgeschlossene Studien automatisch entfernt.</p>
        </label>
        <label class="item item-input">
          <span class="input-label">Passwort:</span>
          <input type="password" ng-model="input.password">
          {{ passworderror }}
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">{{settings.passwordset ? "Entsperren" : "Sperren"}}</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
